# Server
NODE_ENV=production
PORT=5000

# MongoDB
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/ironcore-gym?retryWrites=true&w=majority

# JWT
JWT_SECRET=<generate-a-random-64-char-hex-string>
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PUBLISHABLE_KEY=pk_test_...

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# Email (Nodemailer)
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=api
SMTP_PASS=your-smtp-password
EMAIL_FROM=noreply@ironcore-gym.com

# Frontend URL (comma-separated for multiple origins)
CLIENT_URL=https://ironcore-gym-smoky.vercel.app

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads

# Google OAuth
GOOGLE_CLIENT_ID=120901797158-lgligaoqm26e3v422ht6jab9l8a2893h.apps.googleusercontent.com

# Admin
ADMIN_EMAIL=sharonaaas27@gmail.com
